body {
    /* background-color: rgb(188, 206, 221); */
    background-image: url('../img/iceland.jpg');
    opacity: 1;
    margin: auto;
    font-family: Helvetica;
    /* height: 800px;
    width: 800px; */
    padding: 50px;    
}

.main {
    border: solid;
    padding: 3px;
}

h1 {
    color: rgb(105, 20, 20);
	font-size: 200%;
    vertical-align: baseline;
    text-align: center;
    font-weight: bold;
    }

h2 {
    color: rgb(105, 20, 20);
	font-size: 150%;
    vertical-align: baseline;
    text-align: center;
    border: solid;
    border-color: black;
    padding: 3px;
    margin-top: 10px;
    }

h3 {
    color: rgb(105, 20, 20);
	font-size: 125%;
	vertical-align: baseline;
    text-align: center;
    
    }

p {
    color: black;
    font-size: 100%;
    vertical-align: baseline;
    }

ul {
    list-style: square outside none;
    padding: 25px;
    }

ol {
    list-style-type: upper-roman;
    padding: 25px;
    }
    

.study {
    font-weight: bold;
    border-width: thin; 
    
    }

.bio{
    border: solid;
    padding: 3px;
}





