body {
    background-color: rgb(188, 206, 221);
    max-width: 800px;
    margin: auto;
    font-family: Helvetica
}

h1 {
    color: rgb(105, 20, 20);
	font-size: 200%;
    vertical-align: baseline;
    text-align: center;
    }

h2 {
    color: rgb(105, 20, 20);
	font-size: 150%;
	vertical-align: baseline;
    }

h3 {
    color: rgb(105, 20, 20);
	font-size: 125%;
	vertical-align: baseline;
    }

p {
    color: black;
    font-size: 100%;
    vertical-align: baseline;
    }

ul {
    list-style: square outside none;
    padding: 25px;
    }

ol {
    list-style-type: upper-roman;
    padding: 25px;
    }
    

.study {
    font-weight: bold;
    }





